.estoque-container {
  padding: 24px;
}

.estoque-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.estoque-search {
  width: 100%;
  margin: 16px 0 16px 0;
}

table {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

// video {
//   border: 2px solid #ccc;
//   border-radius: 8px;
// }

#barcode-scanner video {
  width: 100% !important;
  height: auto !important;
}


.scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 100%;
  max-width: 400px;
  border: 2px solid #4caf50;
  border-radius: 8px;
}




.recorder-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
  background-color: #f9f9f9;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

audio {
  width: 100%;
}
