/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .flashing-dialog .mat-dialog-container {
  animation: flash 1s infinite alternate;
  border: 4px solid gold;
  box-shadow: 0 0 20px gold;
  background-color: #fff8e1;
  color: #000;
  text-align: center;
  font-weight: bold;
}

@keyframes flash {
  from {
    box-shadow: 0 0 10px gold;
    background-color: #fff8e1;
  }
  to {
    box-shadow: 0 0 30px orange;
    background-color: #ffe57f;
  }
}
