<div class="card container-card">
  <p class="font-bold text-3xl text-center">Retirada de Medicamentos</p>
  <p class="text-center mb-4 text-xl">
    Escaneie os medicamentos para adicioná-los à lista
  </p>
  <div class="input-group">
    <input
      class="barcode"
      #barcodeInputElement
      type="text"
      pInputText
      autofocus
      autocomplete="off"
      placeholder="Escaneie ou digite o código de barras"
      [(ngModel)]="barcodeInput"
      (keyup.enter)="onScan(barcodeInput)"
    />
    <button
      pButton
      type="submit"
      icon="pi pi-plus"
      (click)="onScan(barcodeInput)"
    >
      Adicionar
    </button>
    <button
      pButton
      icon="pi pi-camera"
      class="p-button-info"
      (click)="startScanner()"
    >
      Ler com Câmera
    </button>
  </div>

  @if (medications().length > 0) {
  <div class="mt-3">
    <p-table [value]="medications()" stripedRows>
      <ng-template #header>
        <tr>
          <th class="w-1/2 sm:w-[60%]">Medicação</th>
          <th class="w-1/4 sm:w-[25%]">Quantidade</th>
          <th class="w-1/4 sm:w-[15%] text-center">Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-medication let-index="rowIndex">
        <tr>
          <td>
            <ng-container
              *ngIf="
                medication.name === 'Medicação não encontrada';
                else normalName
              "
            >
              <p-tag value="Medicação não encontrada" severity="danger"></p-tag>
              
            </ng-container>

            <ng-template #normalName>
              {{ medication.name }}
            </ng-template>
          </td>
          <td
            [pEditableColumn]="medication.quantity"
            pEditableColumnField="quantity"
          >
            <p-cellEditor>
              <ng-template #input #output>
                <p-inputnumber
                  [inputStyle]="{
                    width: isMobile() ? '3rem' : '3.5rem',
                  }"
                  [(ngModel)]="medication.quantity"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="horizontal"
                  spinnerMode="horizontal"
                  [disabled]="medication.name === 'Medicação não encontrada'"
                  [step]="1"
                >
                  <ng-template #incrementbuttonicon>
                    <span class="pi pi-plus"></span>
                  </ng-template>
                  <ng-template #decrementbuttonicon>
                    <span class="pi pi-minus"></span>
                  </ng-template>
                </p-inputnumber>
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              text
              rounded
              severity="danger"
              title="Remover"
              (click)="cancelAllFromBarcode(medication.barcode)"
            ></button>

            <button
              *ngIf="medication.name === 'Medicação não encontrada'"
              pButton
              title="Selecionar Manualmente"
              icon="pi pi-pencil"
              text
              rounded
              severity="secondary"
              (click)="showDialog()"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  } @else {
  <div class="mt-8">
    <p-divider type="dashed" />
    <p class="font-semibold text-xl text-center">
      Aguardando leitura de código de barras.
    </p>
  </div>
  }
</div>

<p-dialog
  header="Reporte erro"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-8">Adicione um produto</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="username" class="font-semibold w-24">Username</label>
    <input pInputText id="username" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Email</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
    <p-button label="Save" (click)="visible = false" />
  </div>
</p-dialog>

<p-dialog
  [(visible)]="scan"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '768px': '90vw', '575px': '90vw' }"
  [style]="{ width: '70vw' }"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  [closeOnEscape]="true"
  header="Leitor de Código de Barras"
>
  <p-select
    [options]="cameras"
    [(ngModel)]="selectedCamera"
    optionLabel="label"
    placeholder="Selecionar câmera"
    (onChange)="onCameraChange()"
    class="w-full sm:w-80 md:w-[28rem] max-w-full mb-2"
  ></p-select>

  <div class="relative w-full h-[calc(100vh-15rem)] bg-black rounded-xl">
    <video
      #video
      autoplay
      muted
      playsinline
      class="w-full h-full object-cover"
    ></video>

    <div
      class="absolute bottom-1 left-1/2 -translate-x-1/2 bg-black/60 text-white text-center py-3 text-lg rounded-xl w-[calc(100%-1rem)] sm:w-[calc(100%-3rem)] md:w-1/2 max-w-full"
    >
      📦 Código lido: <strong>{{ codeResult || "Aguardando..." }}</strong>
    </div>
  </div>
</p-dialog>
