@use 'mixins' as *;
@use 'variables' as *;

.container-card {
  @include card-shadow;
  padding: $spacing-lg;
  width: 950px;

  @include respond-to(xl) {
    max-width: 100% !important;
  }

  @include respond-to(sm) {
    padding: $spacing-md;

    .input-group {
      flex-direction: column;
      align-items: stretch;

      button {
        width: 100%;
      }
    }

    .actions {
      flex-direction: column;
      align-items: center;

      button {
        width: 100%;
      }
    }
  }



  .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-sm;
    margin-bottom: $spacing-md;
    justify-content: center;

    .barcode {
      min-width: 325px;
      max-width: 100%;
      padding: $spacing-sm;

      &:focus {
        border: 2px solid $primary-color;
      }
    }

    button {
      min-width: 2.5rem;
      height: 2.5rem;
      white-space: nowrap;
    }
  }

  .p-invalid {
    border: 1px solid $error-color !important;
  }

  .empty-info {
    margin-top: $spacing-lg;
  }
}

::ng-deep .fullscreen-dialog {
  width: 100vw !important;
  max-width: 100vw !important;
  height: 100vh !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0;
  border-radius: 0;

  .p-dialog-content {
    height: calc(100vh - 4rem); // ajusta para o cabeçalho
    padding: 0;
    overflow: hidden;
  }
}

.scanner-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;

  .video-feed {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }
}
