<div class="card container-card">
  <p class="font-bold text-3xl text-center">Retirada de Medicamentos</p>
  <p class="text-center mb-4 text-xl">
    Escaneie os medicamentos para adicioná-los à lista
  </p>
  <div class="input-group">
    <!-- Campo invisível ou visível, tanto faz -->
    <!-- <input
  #scannerInput
  type="text"
  (keydown)="handleKey($event)"
  autocomplete="off"
  class="opacity-0 absolute pointer-events-none"
/> -->

    <input
      class="barcode"
      #scannerInput
      type="text"
      pInputText
      autocomplete="off"
      placeholder="Escaneie ou digite o código de barras"
      [(ngModel)]="barcodeInput"
      (keydown)="handleKey($event)"
    />
    <button
      pButton
      type="submit"
      icon="pi pi-plus"
      (click)="onScan(barcodeInput)"
    >
      Adicionar
    </button>
    <button
      pButton
      icon="pi pi-camera"
      class="p-button-info"
      (click)="startScanner()"
    >
      Ler com Câmera
    </button>
  </div>

  @if (medications().length > 0) {
  <div class="mt-3">
    <p-table
      [value]="medications()"
      stripedRows
      [tableStyle]="{ 'min-width': '45rem' }"
      [rowHover]="true"
    >
      <ng-template #header>
        <tr>
          <th class="w-1/5 sm:w-[15%]">Código</th>
          <th class="w-1/2 sm:w-[55%]">Medicação</th>
          <th class="w-1/5 sm:w-[15%]">Quantidade</th>
          <th class="w-1/5 sm:w-[15%]"></th>
        </tr>
      </ng-template>
      <ng-template #body let-medication let-index="rowIndex">
        <tr>
          <td>
            <p>{{ medication.barcode }}</p>
          </td>
          <td>
            @if (medication.name === 'Medicação não encontrada') {
            <p-tag value="Código não encontrado" severity="danger"></p-tag>
            <div class="mt-2">
              <input
                type="text"
                [(ngModel)]="medication.observacao"
                required
                placeholder="Descreva o nome da medicação"
                class="p-inputtext w-full border border-red-400"
              />
            </div>

            } @else {
            <p>{{ medication.name }}</p>
            }
          </td>
          <td
            [pEditableColumn]="medication.quantity"
            pEditableColumnField="quantity"
          >
            <p-cellEditor>
              <ng-template #input #output>
                <p-inputnumber
                  [inputStyle]="{
                    width: isMobile() ? '3rem' : '3.5rem',
                  }"
                  [(ngModel)]="medication.quantity"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="horizontal"
                  spinnerMode="horizontal"
                  [step]="1"
                >
                  <ng-template #incrementbuttonicon>
                    <span class="pi pi-plus"></span>
                  </ng-template>
                  <ng-template #decrementbuttonicon>
                    <span class="pi pi-minus"></span>
                  </ng-template>
                </p-inputnumber>
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-button
              title="Editar produto"
              icon="pi pi-pencil"
              class="mr-2"
              severity="secondary"
              [rounded]="true"
              [outlined]="true"
              (click)="showDialog()"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              title="Remover"
              (click)="cancelAllFromBarcode(medication.barcode)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  } @else {
  <div class="mt-8">
    <p-divider type="dashed" />
    <p class="font-semibold text-xl text-center">
      Aguardando leitura de código de barras.
    </p>
  </div>
  }
</div>

<p-dialog
  header="Reporte erro"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-8">Adicione um produto</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="username" class="font-semibold w-24">Username</label>
    <input pInputText id="username" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Email</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
    <p-button label="Save" (click)="visible = false" />
  </div>
</p-dialog>

<p-dialog
  [(visible)]="scan"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '768px': '90vw', '575px': '90vw' }"
  [style]="{ width: '70vw' }"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  [closeOnEscape]="true"
  header="Leitor de Código de Barras"
  (onHide)="stopScanner()"
>
  <p-floatlabel class="w-full md:w-56 mt-2 mb-2" variant="on">
    <p-select
      [(ngModel)]="selectedCamera"
      inputId="on_label"
      [options]="cameras"
      optionLabel="label"
      (onChange)="onCameraChange()"
      class="w-full"
    />
    <label for="on_label">Selecionar câmera</label>
  </p-floatlabel>
  <!-- <p-select
    [options]="cameras"
    [(ngModel)]="selectedCamera"
    optionLabel="label"
    placeholder="Selecionar câmera"
    (onChange)="onCameraChange()"
    class="w-full sm:w-80 md:w-[28rem] max-w-full mb-2"
  ></p-select> -->

  <div class="relative w-full h-[calc(100vh-20rem)] bg-black rounded-xl">
    <video
      #video
      autoplay
      muted
      playsinline
      class="w-full h-full object-cover"
    ></video>

    <!-- <div
      class="absolute bottom-1 left-1/2 -translate-x-1/2 bg-black/60 text-white text-center py-3 text-lg rounded-xl w-[calc(100%-1rem)] sm:w-[calc(100%-3rem)] md:w-1/2 max-w-full"
    >
      📦 Código lido: <strong>{{ codeResult || "Aguardando..." }}</strong>
    </div> -->
  </div>
</p-dialog>
